@import './scss/variables';
@import './scss/basics';
@import './scss/square';

.main-container{
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 1%;

}

.app__container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 border-radius: 1%;

  height: $pickture-size+5px;
  width: $pickture-size+5px;
  background-color: black;
  overflow: hidden;
}

.img-container{
  max-height: $pickture-size;
  max-width: $pickture-size;
  margin-top: 20px;
 
}
.original-image{
  border: 2px solid black;
  max-height: $pickture-size;
  max-width: $pickture-size;
}

.my-form{
 display: block;
 flex: 1;
 align-self: center;
  border: 2px solid green;
  margin-bottom: 10px;
  padding: 5px;
 
}