@import './scss/variables';
@import './scss/basics';
@import './scss/square';

.main-container{
  display: flex;
 flex-direction: row;
 justify-content: space-around;
 border-radius: 1%;
 padding-top: 100px; 
}

.app__container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 border-radius: 1%;
  margin-left: 100px;
 
 padding-left:2px;
 padding-top: 2px; 
  height: 620px;
  width: 610px;
  background-color: black;
  overflow: hidden;

}

.img-container{
  height: 600px;
  width: 600px;
  border: 2px solid red;
}
.original-image{
  height: 600px;
  width: 600px;
}