
.container-square{

    &-11{
      top: 0;
      left:0;
     
      position: absolute;
      z-index: 9;
    }
    &-12{
        top: 0;
        left:$square-size;
  
        position: absolute;
        z-index: 9;
    }
    &-13{
        top: 0;
        left:$square-size*2;
        position: absolute;
        z-index: 9;
    }
    &-21{
        top: $square-size;
        left:0;
   
        position: absolute;
        z-index: 9;
    }
    &-22{
        top: $square-size;
        left:$square-size;
        position: absolute;
        z-index: 9;
    }
    &-23{
        top: $square-size;
        left:$square-size*2;
        position: absolute;
        z-index: 9;
    }
    &-31{
        top: $square-size*2;
        left:0;
             position: absolute;
             z-index: 9;
    }
    &-32{
        top: $square-size*2;
        left:$square-size;
        position: absolute;
        z-index: 9;
    }


    &-empty{
        top: $square-size*2;
        left:$square-size*2;
        position: absolute;
        z-index: 1;
    }
}
