
.square{
    height: $square-size;
    width: $square-size;
    margin: 1px;    
    border-radius: 3%;
    display: inline-block;
    background-color: black;
    overflow: hidden;

    &-11{
        margin-left: 0px;
        height: $pickture-size;
        width: $pickture-size;
    }
    &-12{
        margin-left: -$square-size;;
        height: $pickture-size;
        width: $pickture-size;
    }
    &-13{
        margin-left: -$square-size*2;
        height: $pickture-size;
        width: $pickture-size;
    }
    &-21{
        margin-left: 0px;
        margin-top: -$square-size;;
        height: $pickture-size;
        width: $pickture-size;
    }
    &-22{
        margin-left: -$square-size;;
        margin-top: -$square-size;;
        height: $pickture-size;
        width: $pickture-size;
    }
    &-23{
        margin-left: -$square-size*2;
        margin-top: -$square-size;;
        height: $pickture-size;
        width: $pickture-size;
    }
    &-31{
        margin-left: 0px;
        margin-top: -$square-size*2;
        height: $pickture-size;
        width: $pickture-size;
    }
    &-32{
        margin-left: -$square-size;
        margin-top: -$square-size*2;
        height: $pickture-size;
        width:$pickture-size;
    }


    &-empty{
       filter: brightness(0%);
       border: none;
       margin: 1px;
         
    }
}